*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

.night {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: 
    radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), 
    radial-gradient(ellipse at bottom, var(--dark-color), rgba(220, 20, 60, 0.2)),
    repeating-linear-gradient(220deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    repeating-linear-gradient(189deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    repeating-linear-gradient(148deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    linear-gradient(90deg, rgb(70, 7, 107), rgb(240, 240, 240));
}

.flowers {
  position: relative;
  transform: scale(0.9);
}

.flower {
  position: absolute;
  bottom: 10vmin;
  transform-origin: bottom center;
  z-index: 10;
  --fl-speed: 0.3s;
}

/* Base petal style for roses */
.flower__leaf {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  opacity: 0.95;
  box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.2);
}

/* Rose petal colors - deep red gradient */
.flower--rose-1 .flower__leaf,
.flower--rose-2 .flower__leaf,
.flower--rose-3 .flower__leaf {
  background-color: #dc143c;
  background-image: linear-gradient(to top, #8b0000, #dc143c, #ff1744, #ff6b9d);
  box-shadow: 
    inset 0 0 2vmin rgba(255, 255, 255, 0.15), 
    0 0 1vmin rgba(220, 20, 60, 0.6),
    inset 0 -2vmin 3vmin rgba(139, 0, 0, 0.8);
}

/* Outer petals - larger, more spread out */
.flower__leaf--outer-1 {
  width: 10vmin;
  height: 14vmin;
  transform: translate(-50%, 0) rotate(-45deg) rotateY(-15deg) rotateX(10deg);
  z-index: 1;
}

.flower__leaf--outer-2 {
  width: 10vmin;
  height: 14vmin;
  transform: translate(-50%, 0) rotate(-18deg) rotateY(-10deg) rotateX(8deg);
  z-index: 1;
}

.flower__leaf--outer-3 {
  width: 10vmin;
  height: 14vmin;
  transform: translate(-50%, 0) rotate(18deg) rotateY(10deg) rotateX(8deg);
  z-index: 1;
}

.flower__leaf--outer-4 {
  width: 10vmin;
  height: 14vmin;
  transform: translate(-50%, 0) rotate(45deg) rotateY(15deg) rotateX(10deg);
  z-index: 1;
}

.flower__leaf--outer-5 {
  width: 9vmin;
  height: 13vmin;
  transform: translate(-50%, 0) rotate(0deg) rotateY(0deg) rotateX(12deg);
  z-index: 1;
}

/* Middle petals - medium size, slightly inside */
.flower__leaf--middle-1 {
  width: 8vmin;
  height: 12vmin;
  transform: translate(-50%, 2vmin) rotate(-30deg) rotateY(-8deg) rotateX(15deg);
  z-index: 2;
}

.flower__leaf--middle-2 {
  width: 8vmin;
  height: 12vmin;
  transform: translate(-50%, 2vmin) rotate(-12deg) rotateY(-5deg) rotateX(12deg);
  z-index: 2;
}

.flower__leaf--middle-3 {
  width: 8vmin;
  height: 12vmin;
  transform: translate(-50%, 2vmin) rotate(12deg) rotateY(5deg) rotateX(12deg);
  z-index: 2;
}

.flower__leaf--middle-4 {
  width: 8vmin;
  height: 12vmin;
  transform: translate(-50%, 2vmin) rotate(30deg) rotateY(8deg) rotateX(15deg);
  z-index: 2;
}

.flower__leaf--middle-5 {
  width: 7.5vmin;
  height: 11vmin;
  transform: translate(-50%, 2vmin) rotate(0deg) rotateY(0deg) rotateX(18deg);
  z-index: 2;
}

/* Inner petals - smaller, more closed */
.flower__leaf--inner-1 {
  width: 6vmin;
  height: 9vmin;
  transform: translate(-50%, 4vmin) rotate(-20deg) rotateY(-5deg) rotateX(20deg);
  z-index: 3;
}

.flower__leaf--inner-2 {
  width: 6vmin;
  height: 9vmin;
  transform: translate(-50%, 4vmin) rotate(20deg) rotateY(5deg) rotateX(20deg);
  z-index: 3;
}

.flower__leaf--inner-3 {
  width: 5.5vmin;
  height: 8.5vmin;
  transform: translate(-50%, 4vmin) rotate(0deg) rotateY(0deg) rotateX(25deg);
  z-index: 3;
}

.flower__leaf--inner-4 {
  width: 5vmin;
  height: 8vmin;
  transform: translate(-50%, 4.5vmin) rotate(180deg) rotateY(0deg) rotateX(30deg);
  z-index: 3;
}

/* Rose center - small, closed bud-like */
.flower__center {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 3.5vmin;
  height: 4vmin;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-color: #8b0000;
  background-image: 
    radial-gradient(circle at 30% 30%, rgba(220, 20, 60, 0.8), transparent 50%),
    linear-gradient(to top, #5c0000, #8b0000, #a00000);
  box-shadow: 
    inset 0 0 1.5vmin rgba(0, 0, 0, 0.6),
    0 0 1vmin rgba(139, 0, 0, 0.8),
    inset 0 -1vmin 2vmin rgba(0, 0, 0, 0.9);
  z-index: 10;
}

/* Flower stems and leaves */
.flower__line {
  height: 55vmin;
  width: 1.5vmin;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 10%, #1a4d1a, #2d6e2d);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  animation: grow-flower-tree 4s backwards;
}

.flower__line__leaf {
  --w: 8vmin;
  --h: calc(var(--w) + 2vmin);
  position: absolute;
  top: 20%;
  left: 90%;
  width: var(--w);
  height: var(--h);
  border-top-right-radius: var(--h);
  border-bottom-left-radius: var(--h);
  background-image: linear-gradient(to top, rgba(34, 139, 34, 0.5), #228b22, #2d6e2d);
  box-shadow: inset 0 0 1vmin rgba(0, 0, 0, 0.2);
}

.flower__line__leaf--1 {
  transform: rotate(70deg) rotateY(30deg);
  animation: blooming-leaf-right var(--fl-speed) 1.6s backwards;
}

.flower__line__leaf--2 {
  top: 45%;
  transform: rotate(70deg) rotateY(30deg);
  animation: blooming-leaf-right var(--fl-speed) 1.4s backwards;
}

.flower__line__leaf--3 {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: var(--h);
  border-bottom-right-radius: var(--h);
  left: -460%;
  top: 12%;
  transform: rotate(-70deg) rotateY(30deg);
  animation: blooming-leaf-left var(--fl-speed) 1.2s backwards;
}

.flower__line__leaf--4 {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: var(--h);
  border-bottom-right-radius: var(--h);
  left: -460%;
  top: 40%;
  transform: rotate(-70deg) rotateY(30deg);
  animation: blooming-leaf-left var(--fl-speed) 1s backwards;
}

/* Rose positioning and animations */
.flower--rose-1 {
  left: 45%;
  transform: rotate(5deg);
  animation: moving-rose-1 4s linear infinite;
}

.flower--rose-1 .flower__line {
  height: 65vmin;
  animation-delay: 0.3s;
}

.flower--rose-2 {
  left: 50%;
  transform: rotate(-5deg);
  animation: moving-rose-2 4.2s linear infinite;
}

.flower--rose-2 .flower__line {
  height: 70vmin;
  animation-delay: 0.6s;
}

.flower--rose-3 {
  left: 55%;
  transform: rotate(3deg);
  animation: moving-rose-3 3.8s linear infinite;
}

.flower--rose-3 .flower__line {
  height: 60vmin;
  animation-delay: 0.9s;
}

.flower__leafs {
  position: relative;
  animation: blooming-flower 2.5s backwards;
}

.flower__leafs--rose-1 {
  animation-delay: 1.1s;
}

.flower__leafs--rose-2 {
  animation-delay: 1.4s;
}

.flower__leafs--rose-3 {
  animation-delay: 1.7s;
}

.flower__leafs::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 15vmin;
  height: 15vmin;
  background-color: rgba(220, 20, 60, 0.3);
  filter: blur(8vmin);
  z-index: -1;
}

/* Animations */
@keyframes moving-rose-1 {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

@keyframes moving-rose-2 {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes moving-rose-3 {
  0%, 100% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-4deg);
  }
}

@keyframes blooming-leaf-right {
  0% {
    transform-origin: left;
    transform: rotate(70deg) rotateY(30deg) scale(0);
  }
}

@keyframes blooming-leaf-left {
  0% {
    transform-origin: right;
    transform: rotate(-70deg) rotateY(30deg) scale(0);
  }
}

@keyframes grow-flower-tree {
  0% {
    height: 0;
    border-radius: 1vmin;
  }
}

@keyframes blooming-flower {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container * {
  animation-play-state: paused !important;
}
